<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ُEbay Auction</title>
    <style>
      .container {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        position: absolute;
        overflow: hidden;
      }

      .loginContainer {
        display: visible;
        width: 100%;
        height: 150%;
        margin-top: -10%;
        padding: 0;
        background-color: black;
        opacity: 0.92;
        font-size: 1.5em;
      }

      .loginContainer .loginBackground {
        position: absolute;
        height: 100px;
        width: 100%;
        top: 30%;
        text-align: center;
        color: white;
      }

      .loginContainer .inputUsername {
        background-color: transparent;
        text-align: center;
        padding-top: 8px;
        border: none;
        outline: none;
        font-weight: bold;
        font-size: 3em;
        color: white;
      }
    </style>
  </head>
  <body id="output">
    <div class="container">
      <li class="loginContainer">
        <div class="loginBackground">
          <h3 class="usernamePromptMessage">Enter Username</h3>
          <input
            name="username"
            id="username"
            class="inputUsername"
            placeholder="Type Username.."
            type="text"
            maxlength="10"
          />
          <br/>
          <input name="btn" id ="btn" type="button" value="Login" />
        </div>
      </li>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      window.addEventListener("load", function (ev) {
        var name = document.querySelector("#username");
        var btn = document.querySelector("#btn");
        btn.addEventListener("click", function () {
         alert(name.value);
         
            $.post("/login", { username: name.value }, function (data) {
              $("#output").html(data);
              //alert(data);
            });
          
        }); //listener
      });
    </script>
  </body>
</html>
