<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ebay Auction</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      body {
        margin: 0;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="text-primary text-center">
          Ebay Auction - user: <%= username %>
        </h1>
      </header>

      <div class="row">
        <div class="col-sm border border-primary rounded">
          <div class="row text-center">
            <input
              name="bid"
              id="bid"
              type="number"
              class="inputBid"
              placeholder="Enter your bid.."
            />
            <input
              name="send"
              id="send"
              type="button"
              class="btn btn-sm btn-primary"
              value="Bid"
            />
            &nbsp;&nbsp;<span id="time"></span> minutes to close bidding
          </div>
          <br /><br />
          <div id="bids" class="row"></div>
        </div>
        <div class="col-sm">
          <div class="col-md">
            <div class="card">
              <img
                src="https://i.pcmag.com/imagery/reviews/06IqvjpwXgLJ8XUJeTgaQ6u-41.fit_lpad.size_238x139.v_1574731211.jpg"
                class="card-img-top"
                alt="camera"
              />
              <div class="card-body">
                <h5 class="card-title">Fujifilm X-T30</h5>
                <p class="card-text">
                  The Fujifilm X-T30's dial-based controls are appealing to
                  enthusiasts and pros, and it backs them up with speedy,
                  accurate focus, 4K video, and a strong lens library.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="jquery-3.2.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="jquery.countdown.min.js"></script>
    <script>
      //       function startTimer(duration, display) {
      //     var timer = duration, minutes, seconds;
      //     setInterval(function () {
      //         minutes = parseInt(timer / 60, 10);
      //         seconds = parseInt(timer % 60, 10);

      //         minutes = minutes < 10 ? "0" + minutes : minutes;
      //         seconds = seconds < 10 ? "0" + seconds : seconds;

      //         display.textContent = minutes + ":" + seconds;

      //         if (--timer < 0) {
      //             timer = duration;
      //         }
      //     }, 1000);
      // }
      window.addEventListener("load", function (ev) {
              var bid = document.querySelector("#bid");
              var bids = document.querySelector("#bids");
              var btn = document.querySelector("#send");
              btn.addEventListener("click", function (e) {

                bids.append("#"+bid.value+" $<br>");
              //  var tMinutes = 60 * 2,
            // display = document.querySelector('#time');
              //startTimer(tMinutes, display);
               $("#time").countdowntimer({
      		            minutes : 2‚
                      size : "lg"
      	          });
              }); //listener
            });
    </script>
  </body>
</html>
